<section class="m-3 p-3 bg-light">
<button (click)="sendData()"> Send Data to Parent </button>
  <h1>-------Structural directive ---</h1>
  <div class="conatiner">
    <h2>ngIf</h2>
    <p>
      Decide whater thing should apper or not in html file w.r.t some logic
    </p>
    <div *ngIf="showHide">
      <h1>I am a heading visible to u</h1>
    </div>

    <section class="alert alert-primary" *ngIf="caseKey === 1">
      <h1>Sign In</h1>
    </section>
    <section *ngIf="caseKey === 2">
      <h1>Log Out</h1>
    </section>
    <section *ngIf="caseKey != 1 && caseKey != 2">
      <h1>I am if Default case</h1>
    </section>
  </div>

  <div class="conatiner">
    <h2>ngSwitch</h2>

    <span [ngSwitch]="caseKey">
      <section class="alert alert-primary" *ngSwitchCase="1">
        <h1>I am Switch case one</h1>
      </section>
      <section *ngSwitchCase="2">
        <h1>I am Switch case two</h1>
      </section>
      <section *ngSwitchDefault>
        <h1>I am Switch Default case</h1>
      </section>
    </span>
  </div>
  <div class="conatiner">
    <h2>ngFor</h2>
    <ul>
      <li *ngFor="let item of arrVal">
          {{item}}
      </li>
    </ul>

    <div *ngIf="printUserData && printUserData.length">

        I have this much elements - {{printUserData}}



        <div *ngFor="let userData of printUserDat" >
            hello <b> {{userData['name']}}  </b>static data
            <div>
              {{userData['picture']}}

              <!-- <img src="{{userData['picture']}}" alt="image" />  one way -->

              <img [src]="userData['picture']" alt="image" />
                [] - inside html tag before closing
               double curly brece inside html tag
            </div>
        </div>

        <div *ngFor='let itemValue of  ["asda","Hello","example"]'>
            {{itemValue}}
        </div>
    </div>

  </div>
  <hr />
  <section class="theory">
    -------Strutural --- -- playing with dom - hide/show elements
    *ngIf="expression" *<span [ngSwitch]="">
      <p *ngSwitchCase="true"></p>
      <p *ngSwitchCase="false"></p>
      <p *ngSwitchDefault></p>
    </span>

    *ngFor="let item of items" ------------------------------- Attribute
    Diretive ngStlye ngclass -- it's play with a html tag attributes
    -----------
  </section>
</section>
