<div class="container bg bg-primary">
<h3>course-detail works!</h3>

<ul class="nav justify-content-center bg bg-light">
  <li class="nav-item">
    <a class="nav-link" routerLink="create">Create Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="update">Update</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="detail/angular/all">Detail Via Id</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="re/0">Remove</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="not FOund">Not Found Link </a>
  </li>
</ul>

<button (click)="updateInput()">Update COunter</button>
<button (click)="updatenew2ndProp()">Update 2nd prope</button>
<div class="alert alert-warning mt-3" >
  <button (click)="toggle()"> toggle </button>
  <div *ngIf="showComponent" class="alert alert-danger">
  <app-create [showNgChange]="counter" [showN2nd]="new2ndProp"></app-create>
</div>
  <!--
  <app-update></app-update>
  <app-remove></app-remove> -->
  <router-outlet></router-outlet>
</div>
</div>
