<p>course-detail works!</p>
<nav>

  <a routerLink="create"> Create Course</a>
  <!-- routing from html files-->
  <a routerLink="up"> Update</a>
  <a routerLink="detail/angular"> Deatils</a>
  <a routerLink="re/0"> Remove</a>

  <a routerLink="re/q"> Remove 1</a>

  <a routerLink="re/3144"> Remove 2</a>

  <a routerLink="reaasdasdasd"> Non Existin</a>
  <!-- <a routerLink="course"> course</a> -->
 </nav>
<div class="jumbotron">
  <!-- <app-create></app-create>
  <app-update></app-update>
  <app-remove></app-remove> -->
  <router-outlet></router-outlet>
</div>
